.Square {
width: 40px;
height: 40px;
text-align: center;
font-size: 18pt;
font-weight: bold;
font-family: Verdana
background-color:red
color:#3446eb
}
#s1 {
background-color: red
}
#s2 {
background-color: red}
#s3 {
background-color: red}
#s4 {
background-color: red}
#s5 {
background-color: red}
#s6 {
background-color: red}
#s7 {
background-color: red}
#s8 {
background-color: red}
#s9 {
background-color: red}

